html {
    height: 100%;
}
ul {
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
}
div {
    word-wrap: break-word;
}
body {
    background-color: #DFE2DB;
    background-color: #282C34;
    color: #6DB372;
    height: 90%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.outer {
	display: table;
	position: absolute;
	height: 100%;
	width: 100%;
	overflow: auto;
}
.inner {
	display: table-cell;
	vertical-align: middle;
	overflow: auto;
    text-align: center;
}

.subreddit-name-container {
    position: relative;
}
.subreddit-name-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 28px;
    font-family: Montserrat;
    font-style: italic;
}
.subreddit-name-container p a {
    color: #6DB372;
}
#main-content {
	font-family: 'Lora', sans-serif;
	font-size: 35px;
	margin: auto;
	text-align: center;
	overflow: hidden;
    padding: 0px 100px;
}
.container {
    max-width: 900px;
    margin: auto;
    padding-top: 50px;
    font-size: 38px;
}
#input-container {
    margin-bottom: 100px;
}
#category-input {
    background-color: #48596B;
    color: inherit;
    float: right;
    margin-left: 0;
    width: 60%;
    height: 40px;
    font-size: 38px;
    border: none;
}
#error-container {
    text-align: center;
    font-size: 20px;
    margin-top: 0px;
    background: #f0f0f0;
    padding: 1px;
    border-radius: 9px;
}
.icon-cross {
    font-size: 20px;
    color: #fff;
    float: left;
    /*float: right;*/
}
input:focus {
    outline: none;
}
#category-list li {
    float: left;
    margin: 3px 3px;
    padding: 3px;
    background-color: #fff000;
    border-radius: 10px;
}
/*
 * Controls
 */
.fack {
    margin: 0;
    padding: 0;
}
.prev {
    font-size: 30px;
    overflow: hidden;
    left: 1%;
    position: absolute;
    top: 44%;
}
.slider {
    font-size: 38px;
    font-family: 'Lora';
    text-decoration: none;
    color: #6DB372;
}
.next {
    right: 1%;
    font-size: 30px;
    overflow: hidden;
    position: absolute;
    top: 44%;
}

/*
 *  Social Icons
 */
.social-icon {
    text-align: center;
    vertical-align: middle;
    position: absolute;
    color: #fff;
    padding: 0.5em;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    width: 18px;
    line-height: 100%;
    font-size: 16px;
    border-radius: 50%;
}
.icon-facebook {
    right: 2%;
    top: 2%;
    background-color: #3b5998;
}
.icon-facebook:hover {
    color: #3b5998;
    background: #fff;
}
.icon-twitter {
    right: 2%;
    top: 7%;
    background-color: #0084b4;
}
.icon-twitter:hover {
    color: #0084b4;
    background: #fff;
}
.icon-reddit {
    right: 2%;
    top: 12%;
    background-color: #FF7500;
}
.icon-reddit:hover {
    color: #FF7500;
    background: #fff;
}
.icon-wrench {
    right: 2%;
    bottom: 2%;
    color: #fff;
    background-color: #FF0F00;
}
.icon-wrench:hover {
    color: #FF0F00;
    background: #fff;
}
.icon-loop2 {
    left: 2%;
    bottom: 2%;
}

/*
 * Media Queries
 */
@media (max-width: 1200px) {
    #main-content {
        font-size: 32px;
        padding: 0 50px;
        margin: 0;
    }
}
@media (max-width: 480px) {
    #main-content {
        font-size: 18px;
        padding: 0 45px;
        margin: 0;
    }
}
