html {
    height: 100%;
}
ul {
    padding: 0;
}
div {
    word-wrap: break-word;
}
body {
    background-color: #DFE2DB;
    height: 90%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.outer {
	display: table;
	position: absolute;
	height: 100%;
	width: 100%;
	overflow: auto;
}
.inner {
	display: table-cell;
	vertical-align: middle;
	overflow: auto;
    text-align: center;
}

.subreddit-name-container {
    position: relative;
}
.subreddit-name-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 28px;
    font-family: Montserrat;
    font-style: italic;
}
#main-content {
	font-family: 'Lora', sans-serif;
	font-size: 35px;
	margin: auto;
	text-align: center;
	overflow: hidden;
    padding: 0px 100px;
}
/*
 * Controls
 */
.fack {
    margin: 0;
    padding: 0;
}
.prev {
    font-size: 30px;
    overflow: hidden;
    left: 1%;
    position: absolute;
    top: 44%;
}
.slider {
    font-size: 40px;
    text-decoration: none;
    color: #000;
}
.next {
    right: 1%;
    font-size: 30px;
    overflow: hidden;
    position: absolute;
    top: 44%;
}

/*
 *  Social Icons
 */

.social-icon {
    position: absolute;
    background-color: #f0f0f0;
    padding: 0.4em;
    border-radius: 50%;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}
.icon-facebook {
    right: 2%;
    top: 3%;
    color: #3b5998;
}
.icon-facebook:hover {
    background: #3b5998;
    color: #fff;
}
.icon-twitter {
    right: 2%;
    top: 8%;
    color: #0084b4;
}
.icon-twitter:hover {
    background: #0084b4;
    color: #fff;
}
.icon-reddit {
    right: 2%;
    top: 13%;
    color: #FF7500;
}
.icon-reddit:hover {
    background: #FF7500;
    color: #fff;
}
.icon-wrench {
    right: 2%;
    bottom: 2%;
    background: #fff;
    color: #FF0F00;
}
.icon-wrench:hover {
    background: #FF0F00;
    color: #fff;
}
.icon-loop2 {
    left: 2%;
    bottom: 2%;
}

/*
 * Media Queries
 */
@media (max-width: 1200px) {
    #main-content {
        font-size: 32px;
        padding: 0 50px;
        margin: 0;
    }
}
@media (max-width: 480px) {
    #main-content {
        font-size: 18px;
        padding: 0 45px;
        margin: 0;
    }
}
